* {
  font-family: "Nunito", sans-serif;
}

:root {
  --color-primary: #fd377e;
  --color-primary-2: #e34981;
  --color-secondary: #03b898;

  --grey-4: #212529;
  --grey-3: #868e96;
  --grey-2: #e9ecef;
  --grey-1: #f8f9fa;

  --radius-1: 8px;
  --radius-2: 4px;
}
